/* your styles go here */
@import url('https://fonts.googleapis.com/css?family=Satisfy');
.link{
    color:black;
}

.card {
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
    padding: 5rem;
  }
  #sunglasses {
    width: 200px;
    vendor-animation-delay: 2.5s;
    vendor-animation-duration: 1.5s;
  }
  a{
    color: blueviolet;
    
  }

.beach {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.beach:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
  .bg {
    background: #ff0052; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff0052 0%, #8f4899 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0052), color-stop(100%,#8f4899)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ff0052 0%,#8f4899 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ff0052 0%,#8f4899 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ff0052 0%,#8f4899 100%); /* IE10+ */
  background: linear-gradient(135deg, #ff0052 0%,#8f4899 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0052', endColorstr='#8f4899',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  .ty {
    font-family: 'Fira Sans', Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 10rem;
    font-kerning: normal;
    line-height: 10rem;
    vendor-animation-delay: 1.5s;
    vendor-animation-duration: .5s;
    text-align: center;
  }

  .strokelight {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }

  .strokedark {
    -webkit-text-stroke: 1px #2C2149;
    color: transparent;
  }

  .solid {
    color: #ffeb00;
  }

  .note {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, .4);
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 5rem;
    vendor-animation-delay: 1s;
    vendor-animation-duration: .5s;
  }



.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 60px 10px 10px 0px;

}
#ft{
  margin-bottom: 10px;
}

 .fake{
  position: relative;
  left: 50%;
  margin-left: -8.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #9cd9f0;
  -webkit-animation: type 0.5s 1s steps(20, end) forwards;
  -moz-animation: type 0.5s 1s steps(20, end) forwards;
  -o-animation: type 0.5s 1s steps(20, end) forwards;
  animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #cdee69;
  -webkit-animation: type 0.5s 4.25s steps(20, end) forwards;
  -moz-animation: type 0.5s 4.25s steps(20, end) forwards;
  -o-animation: type 0.5s 4.25s steps(20, end) forwards;
  animation: type 0.5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #e09690;
  -webkit-animation: type 0.5s 7.5s steps(20, end) forwards;
  -moz-animation: type 0.5s 7.5s steps(20, end) forwards;
  -o-animation: type 0.5s 7.5s steps(20, end) forwards;
  animation: type 0.5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type 0.5s 10.75s steps(20, end) forwards;
  -moz-animation: type 0.5s 10.75s steps(20, end) forwards;
  -o-animation: type 0.5s 10.75s steps(20, end) forwards;
  animation: type 0.5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 17em;
  }
}

@-moz-keyframes type {
  to {
    width: 17em;
  }
}

@-o-keyframes type {
  to {
    width: 17em;
  }
}

@keyframes type {
  to {
    width: 17em;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');



#contain {
  text-align:center;
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
 top: auto;;
  padding-bottom:50px;
  width:100%;
  height: 10%;
  max-height:250px;

  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.ribbon {
  width: 70%;
  height: 60px;
  margin: 100px auto 0px;
  position: relative;
  color: #fff;
  font: 28px/60px sans-serif;
  text-align: center;

  background: black;
  font-family: 'Satisfy', cursive;
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;

  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid black;
  border-left-color: transparent;

  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;

  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid black;
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}



/* animations */

@-webkit-keyframes main {
  0% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
  0%, 50% { -webkit-transform: scaleY(0); }
  100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
  0%, 75% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
  0% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
  0%, 50% { -moz-transform: scaleY(0); }
  100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
  0%, 75% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}


@keyframes main {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes edge {
  0%, 50% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes back {
  0%, 75% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
.home{
  text-align:center;
}
.back{
  z-index: -1;
  max-height: 100px;
}



.headingStatement {
  color: black;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 2s steps(20, end),
    blink-caret .5s step-end 10,
    hide-caret 1s step-end 3s infinite;
}

h2.headingStatement {
  color: black;
  font-size: 24px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation:
    typing 6s steps(20, end),
    blink-caret .75s step-end infinite,
    reveal .1s step-end, blink-caret 0.5s step-end  infinite;
  animation-delay: 3.5s;
opacity: 0;
  animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes reveal {
  from { opacity: 0 }
  to { opacity: 1 }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
@keyframes hide-caret {
  from, to { border-color: transparent }
}
.skills-heading{
  font-size: 30px;
}

.html-progress,.css-progress,.js-progress, .ajs-progress{
  background-color: black;
  width: 500px;
  height: 20px;
  display: inline-block;
}
.progress-value {
  background-color: lightgray;
  width: 500px;
  height: 20px;
  display: inline-block; 
  color:black;
  font-weight: 24px;
  font-style: italic;
  text-align: center;
  animation: grow 3s ease-in-out forwards;
animation-iteration-count: 3;
  -webkit-animation:grow 2s ease-in-out forwards;
}

/* animation */
@keyframes grow {
from {
  width: 0;
  
}
to {
  width: 95%;
}
}
@-webkit-keyframes grow {
from {
  width: 0;
  
}
to {
  width: 95%;
 
}
}
@keyframes growcss {
  from {
    width: 0;
    
  }
  to {
    width: 85%;
  }
  }
  @-webkit-keyframes growcss {
  from {
    width: 0;
    
  }
  to {
    width: 85%;
   
  }
  }

.css-value {
  background-color: lightgray;
  width: 500px;
  height: 20px;
  display: inline-block; 
  color:black;
  font-weight: 24px;
  font-style: italic;
  text-align: center;
  animation: growcss 3s ease-in-out forwards;
animation-iteration-count: 3;
  -webkit-animation:growcss 2s ease-in-out forwards;
}

@keyframes growjs {
  from {
    width: 0;
    
  }
  to {
    width: 65%;
  }
  }
  @-webkit-keyframes growjs {
  from {
    width: 0;
    
  }
  to {
    width: 65%;
   
  }
  }

.js-value {
  background-color: lightgray;
  width: 500px;
  height: 20px;
  display: inline-block; 
 color:black;
 font-weight: 24px;
 font-style: italic;
  text-align: center;
  animation: growjs 3s ease-in-out forwards;
animation-iteration-count: 3;
  -webkit-animation:growjs 2s ease-in-out forwards;
}

@keyframes growajs {
  from {
    width: 0;
    
  }
  to {
    width: 70%;
  }
  }
  @-webkit-keyframes growajs {
  from {
    width: 0;
    
  }
  to {
    width: 70%;
   
  }
  }

.ajs-value {
  background-color: lightgray;
  width: 500px;
  height: 20px;
  display: inline-block; 
  color:black;
  font-weight: 24px;
  font-style: italic;
  text-align: center;
  animation: growajs 3s ease-in-out forwards;
animation-iteration-count: 3;
  -webkit-animation:growajs 2s ease-in-out forwards;
}

@media screen and (max-width: 600px) {
  .html-progress,.css-progress,.js-progress, .ajs-progress {
  background-color: black;
  width: 300px;
  height: 20px;
  display: inline-block;
  }
}
